body{
	text-align: center;
	align: center;
	margin:0;
}

.nde1{
	text-align: center;
	height: 265px;
	width: 265px;
	font-weight: bold;
	font-size: 2em;
}

.nde2{
	text-align: center;
	height: 265px;
	width: 265px;
	font-weight: bold;
	font-size: 2em;
}
.nde3{
	text-align: center;
	height: 265px;
	width: 265px;
	font-weight: bold;
	font-size: 2em;
}
.nde4{
	text-align: center;
	height: 265px;
	width: 265px;
	font-weight: bold;
	font-size: 2em;
}

.nde5{
	text-align: center;
	height: 265px;
	width: 265px;
	font-weight: bold;
	font-size: 2em;
}
.nde6{
	text-align: center;
	height: 265px;
	width: 265px;
	font-weight: bold;
	font-size: 2em;
}



	
h1{
	font-size: 2em;
	color: blue;
	font-weight: bold;
}
h2{
	font-size: 2em;
}

td{
	text-align: center;
}

.greenBanner{
	left: 0;
	background-color: green;
	border-collapse:collapse;
	width: 150px;
}

.redBanner{
	right:0;
	background-color: red;
	border-collapse:collapse;
	width: 150px;
}
table{
	border-collapse: collapse;
}

.topBand{
	background-color: yellow;
	height: 150px;
}

.selectedClass{
	border-color: black;
	border: 5px;
}