body{
	text-align: center;
	align: center;

}

.box{
	columns: 3;
	align: center;
	text-align: center;
	justify-content: space-between;
	height: 575px;
	width: 1000px;

	margin: auto;
    width: 75%;
    padding: 10px;
}



.happyNode{
	border: 10px solid yellow;
	text-align: center;
	padding:1em;
	height: 225px;
	width: 225px;
	
	background-image: url("http://pix.iemoji.com/images/emoji/apple/ios-9/256/smiling-face-with-smiling-eyes.png");
}
.sadNode{
	border: 10px solid red;
	text-align: center;
	padding:1em;
	height: 225px;
	width: 225px;
	
	background-image: url("http://pix.iemoji.com/images/emoji/apple/ios-9/256/loudly-crying-face.png");
}
.embaressedNode{
	border: 10px solid purple;
	text-align: center;
	padding:1em;
	height: 225px;
	width: 225px;
	
	background-image: url("http://img2.thejournal.ie/inline/1788336/original/?width=256&version=1788336");
}
.scaredNode{
	border: 10px solid blue;
	text-align: center;
	padding:1em;
	height: 225px;
	width: 225px;
	
	background-image: url("http://pix.iemoji.com/images/emoji/apple/ios-9/256/face-screaming-in-fear.png");
}
.angryNode{
	border: 10px solid green;
	text-align: center;
	padding:1em;
	height: 225px;
	width: 225px;
	
	background-image: url("http://pix.iemoji.com/images/emoji/apple/ios-9/256/pouting-face.png");
}
.tiredNode{
	border: 10px solid black;
	text-align: center;
	padding:1em;
	height: 225px;
	width: 225px;
	
	background-image: url("http://pix.iemoji.com/images/emoji/apple/ios-9/256/sleeping-face.png");
}

h1{
	font-size: 4em;
	color: blue;
}
h2{
	font-size: 2em;
}

td{
	text-align: center;
}

.topBar {
	height: 20px;
	background-color: green;
    position: fixed;
    z-index: 0; 
    top: 0; 
    right: 0;
    width: 400px;
	
}